<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167116244714-enu95e1u78tfekomn9qq21uk6qi75sfu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167116244714-enu95e1u78tfekomn9qq21uk6qi75sfu</string>
	<key>API_KEY</key>
	<string>AIzaSyCzpx5eNXxosoFftXCBrAtlPuDyRZ6gyXE</string>
	<key>GCM_SENDER_ID</key>
	<string>167116244714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.krfld.ticketchain</string>
	<key>PROJECT_ID</key>
	<string>ticketchain-k</string>
	<key>STORAGE_BUCKET</key>
	<string>ticketchain-k.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167116244714:ios:2cdfe3917e0d3170a93993</string>
</dict>
</plist>